openapi: 3.2.0
info:
  title: Brooklinen Shopify Storefront JSON Discovery API
  version: '2026-08-02'
  summary: Read-only JSON endpoints over the Brooklinen Shopify storefront.
  description: Unauthenticated, read-only JSON endpoints over the Brooklinen storefront at https://www.brooklinen.com.
  contact:
    name: Brooklinen
    url: https://www.brooklinen.com/pages/contact
  termsOfService: https://www.brooklinen.com/policies/terms-of-service
  x-generated: '2026-08-02'
  x-method: generated
  x-source: https://www.brooklinen.com/agents.md
servers:
- url: https://www.brooklinen.com
  description: Brooklinen production storefront (Shopify)
tags:
- name: Discovery
  description: Sitemaps and agent discovery documents.
paths:
  /agents.md:
    get:
      operationId: getAgentInstructions
      tags:
      - Discovery
      summary: Get the store's agent instruction document
      description: The canonical agent-facing description of the store, listed in /robots.txt and in /sitemap_agentic_discovery.xml. Mirrored at /llms.txt.
      responses:
        '200':
          description: Agent instructions in Markdown.
          content:
            text/markdown:
              schema:
                type: string
      x-evidence:
        fetched: '2026-08-02'
        url: https://www.brooklinen.com/agents.md
        http_status: 200
        content_type: text/markdown; charset=utf-8
  /.well-known/ucp:
    get:
      operationId: getUcpProfile
      tags:
      - Discovery
      summary: Get the UCP merchant discovery profile
      description: Returns the store's Universal Commerce Protocol merchant profile — supported protocol versions, service endpoints (including the MCP endpoint), negotiated capabilities and payment handlers.
      responses:
        '200':
          description: The UCP merchant profile.
          content:
            application/json:
              schema:
                type: object
      x-evidence:
        fetched: '2026-08-02'
        url: https://www.brooklinen.com/.well-known/ucp
        http_status: 200
        content_type: application/json; charset=utf-8
  /sitemap.xml:
    get:
      operationId: getSitemapIndex
      tags:
      - Discovery
      summary: Get the sitemap index
      description: Parent sitemap linking to the agentic discovery, product, page, collection and blog sitemaps.
      responses:
        '200':
          description: Sitemap index XML.
          content:
            application/xml:
              schema:
                type: string
      x-evidence:
        fetched: '2026-08-02'
        url: https://www.brooklinen.com/sitemap.xml
        http_status: 200
        content_type: application/xml; charset=utf-8
