openapi: 3.2.0
info:
  title: Brooklinen Shopify Storefront JSON Search API
  version: '2026-08-02'
  summary: Read-only JSON endpoints over the Brooklinen Shopify storefront.
  description: 'Unauthenticated, read-only JSON endpoints over the Brooklinen storefront at https://www.brooklinen.com. Brooklinen documents this surface itself, in the "Read-Only Browsing (No Authentication Required)" section of https://www.brooklinen.com/agents.md (mirrored at /llms.txt), for agents that need to read store data without transacting.


    NOT A PROVIDER-PUBLISHED SPEC. Brooklinen publishes no OpenAPI document. This description was generated by the API Evangelist enrichment pipeline from (a) the endpoint list Brooklinen publishes in /agents.md and (b) live probes of each endpoint on 2026-08-02. Every path below returned HTTP 200 when probed and every schema property below was observed in a real response body — nothing here is invented. Per-operation `x-evidence` records the probe. For transactional operations (cart, checkout, order) see the UCP/MCP surface at https://www.brooklinen.com/api/ucp/mcp, described in mcp/brooklinen-mcp.yml.'
  contact:
    name: Brooklinen
    url: https://www.brooklinen.com/pages/contact
  termsOfService: https://www.brooklinen.com/policies/terms-of-service
  x-generated: '2026-08-02'
  x-method: generated
  x-source: https://www.brooklinen.com/agents.md
servers:
- url: https://www.brooklinen.com
  description: Brooklinen production storefront (Shopify)
tags:
- name: Search
  description: Predictive storefront search.
paths:
  /search/suggest.json:
    get:
      operationId: suggestSearch
      tags:
      - Search
      summary: Predictive search suggestions
      description: Returns predictive search results for a query. Brooklinen's /agents.md documents storefront search as `GET /search?q={query}&type=product`, which renders HTML; this JSON variant was probed live and returns structured product results.
      parameters:
      - name: q
        in: query
        required: true
        description: The search query.
        schema:
          type: string
        example: sheets
      - name: resources[type]
        in: query
        required: false
        description: Comma-separated resource types to search (e.g. `product`, `collection`, `page`, `article`).
        schema:
          type: string
        example: product
      responses:
        '200':
          description: Predictive search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSuggestions'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-evidence:
        fetched: '2026-08-02'
        url: https://www.brooklinen.com/search/suggest.json?q=sheets&resources%5Btype%5D=product
        http_status: 200
        content_type: application/json; charset=utf-8
components:
  responses:
    RateLimited:
      description: Too many requests. Brooklinen's /agents.md instructs agents to back off on 429 responses.
  schemas:
    SearchSuggestions:
      type: object
      description: Predictive search envelope observed on /search/suggest.json.
      properties:
        resources:
          type: object
          properties:
            results:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      title:
                        type: string
                      handle:
                        type: string
                      url:
                        type: string
                      body:
                        type: string
                      available:
                        type: boolean
                      price:
                        type: string
